[MASTER]
disable=similarities

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    missing-final-newline,
    too-few-public-methods,
    too-many-instance-attributes,
    attribute-defined-outside-init,
    global-statement,
    too-many-positional-arguments,

[FORMAT]
max-line-length=120
