[MASTER]
disable=similarities
; init-hook='import sys; sys.path.insert(0, "src")'
init-hook='import sys,glob,os; [sys.path.insert(0,p) for p in glob.glob(os.path.join(os.getcwd(),"*","src")) if os.path.isdir(p)]'
; extension-pkg-whitelist=colorgram

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    attribute-defined-outside-init,
    global-statement,
    too-many-positional-arguments,

[FORMAT]
max-line-length=120
