[MASTER]
disable=similarities
init-hook='import sys; sys.path.insert(0, "src")'
extension-pkg-whitelist=colorgram

[MESSAGES CONTROL]
disable=missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    attribute-defined-outside-init,
    global-statement,
    too-many-positional-arguments,

[FORMAT]
max-line-length=120
